<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel="stylesheet" type="text/css" href="/static/vendor/jquery-easyui-1.5.1/themes/Gray/easyui.css" >
      <link rel="stylesheet" type="text/css" href="/static/vendor/jquery-easyui-1.5.1/themes/icon.css" >
      <script src="/static/vendor/jquery-easyui-1.5.1/jquery.min.js"></script>
      <script src="/static/vendor/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
      <script src="/static/vendor/jquery-easyui-1.5.1/easyui-lang-zh_CN.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
