<div id="p" class="easyui-panel" title="查询" style="width:100%;padding:10px;">
    <table class="search-form" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                报修编号:
                <input class="easyui-textbox search-form-text">
            </td>
            <td>
                报修等级:
                <select class="easyui-combobox search-form-combo" panelHeight="auto">
                    <option value="java">Javaddddddddddddddd</option>
                    <option value="c">C</option>
                    <option value="basic">Basic</option>
                    <option value="perl">Perl</option>
                    <option value="python">Python</option>
                </select>
            </td>
            <td>
                报修日期:
                <input class="easyui-datebox search-form-date">
            </td>
        </tr>
        <tr>
            <td>
                派工日期:
                <input class="easyui-datebox search-form-date">
            </td>
            <td>
                报修状态:
                <select class="easyui-combobox search-form-combo" panelHeight="auto">
                    <option value="java">Java</option>
                    <option value="c">C</option>
                    <option value="basic">Basic</option>
                    <option value="perl">Perl</option>
                    <option value="python">Python</option>
                </select>
            </td>
            <td>
                派工状态:
                <select class="easyui-combobox search-form-combo" panelHeight="auto">
                    <option value="java">Java</option>
                    <option value="c">C</option>
                    <option value="basic">Basic</option>
                    <option value="perl">Perl</option>
                    <option value="python">Python</option>
                </select>
            </td>
        </tr>
    </table>
</div>



<table class="easyui-datagrid" title="工单明细" style="width:100%;height:250px;margin-top: 15px;"
       pagination="true"
       data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
    <thead>
    <tr>
        <th data-options="field:'itemid',width:80">订单号</th>
        <th data-options="field:'productid',width:100">物料编号</th>
        <th data-options="field:'listprice',width:80,align:'right'">物料描述</th>
        <th data-options="field:'unitcost',width:80,align:'right'">版本</th>
        <th data-options="field:'attr1',width:250">组装数量</th>
        <th data-options="field:'status',width:60,align:'center'">测试数量</th>
        <th data-options="field:'status',width:60,align:'center'">外包商</th>
        <th data-options="field:'status',width:60,align:'center'">计划开始日期</th>
        <th data-options="field:'status',width:60,align:'center'">发料时间</th>
        <th data-options="field:'status',width:60,align:'center'">缺料信息</th>
    </tr>
    </thead>
</table>

<style>
    body{
        margin:0 auto;
    }

    .mt5 {
        margin-top: 5px;
    }

    .pull-right {
        float: right !important;
    }

    .pull-left {
        float: left !important;
    }

    .search-form-combo {
        width: 153px;
    }

    .search-form-date {
        width: 82px;
    }

    table.search-form td {
        padding: 5px 0 5px 5px;
        width: 20%;
    }

    .down-btn {
        position: absolute;
        top: 148px;
        left: 10px;
    }

    .down-btn:hover {
        cursor: pointer;
    }

    fieldset legend {
        font-weight: bold;
        background: inherit; /* 默认为透明 */
    }

    .first-fieldset {
        margin-top: 10px;
    }

    .second-fieldset {
        margin-top: 2px;
        display: block;
        position: absolute;
        z-index: 1;
        background: #F4F4F4;
        width: 96%;
    }

    .search-form-info ul {
        list-style: none;
        padding: 0;
        margin: 4px 0 0 10px;
    }

    .search-form-info ul li {
        float: left;
        margin-left: 10px;
        padding: 5px 20px 5px 5px;
    }

    .search-form-info ul li {
        background: rgb(228, 238, 255);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        position: relative; /* 关键啊 */
        display: inline-block;
    }

    .form-close {
        background: url('../themes/default/images/tabs_icons.png') no-repeat
        -34px center;
        width: 12px;
        right: 5px;
        opacity: 0.6;
        position: absolute;
        font-size: 1px;
        display: block;
        height: 12px;
        padding: 0;
        top: 50%;
        margin-top: -6px;
        overflow: hidden;
    }

    .big-size-icon>a>span {
        line-height: 48px;
        padding-right: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    .big-size-icon>a>span>span.l-btn-text {
        width: 48px;
        line-height: 48px;
    }

    .big-size-icon>a>span>span.l-btn-icon {
        width: 48px;
        height: 48px;
        line-height: 48px;
        top: 0;
        margin-top: 2px;
    }

    .big-size-icon>a[iconcls="icon-add-3"]>span:after {
        content: '新增';
        font-size: 28px;
        font-weight: bold;
    }

    .big-size-icon>a[iconcls="icon-edit-3"]>span:after {
        content: '修改';
        font-size: 28px;
        font-weight: bold;
    }

    .big-size-icon>a[iconcls="icon-delete-3"]>span:after {
        content: '删除';
        font-size: 28px;
        font-weight: bold;
    }
</style>